aiohttp==3.5.4
aniso8601==3.0.2
asn1crypto==0.24.0
astroid==2.0.4
async-timeout==3.0.1
attrs==19.1.0
beautifulsoup4==4.6.1
blinker==1.4
brotlipy==0.7.0
cachetools==3.1.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.2.2
cycler==0.10.0
dominate==2.3.5
fire==0.1.3
Flask==1.0.2
flask-appconfig==0.11.1
# Editable install with no version control (Flask-Bootstrap==3.3.7.1)
-e /Users/hank/Documents/fdi_work/virtual_python/venv/lib/python3.7/site-packages
Flask-Debug==0.4.3
flask-nav==0.6
Flask-RESTful==0.3.6
Flask-SocketIO==3.0.1
Flask-WTF==0.14.2
genson==1.0.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.2.0
gspread==3.1.0
h11==0.7.0
h2==3.0.1
hpack==3.0.0
httplib2==0.12.1
hyperframe==5.1.0
idna==2.7
inflection==0.3.1
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
kaitaistruct==0.8
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
ldap3==2.5.1
lyrebird==0.10.5
MarkupSafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mitmproxy==4.0.3
multidict==4.5.2
mysql==0.0.2
mysql-connector==2.1.6
mysqlclient==1.4.2.post1
numpy==1.15.0
oauth2client==4.1.3
oauthlib==3.0.1
packaging==17.1
passlib==1.7.1
Pillow==5.2.0
portpicker==1.2.0
pyasn1==0.4.4
pyasn1-modules==0.2.4
pycparser==2.18
pycryptodome==3.4.11
pylint==2.1.1
pyOpenSSL==18.0.0
pyparsing==2.2.0
pyperclip==1.6.4
python-dateutil==2.7.3
python-engineio==2.2.0
python-socketio==2.0.0
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.2.0
rsa==3.4.2
ruamel.yaml==0.15.50
six==1.11.0
sortedcontainers==2.0.4
tornado==5.0.2
uritemplate==3.0.0
urllib3==1.23
urwid==2.0.1
visitor==0.1.3
Werkzeug==0.14.1
wrapt==1.10.11
wsproto==0.11.0
WTForms==2.2.1
yarl==1.3.0
