{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('.static', filename='mystyle.css')}}">
{% endblock %}

{% block head %}
    {{super()}}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add icon library -->
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    {{nav.my_navbar.render()}}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('.static', filename='mystyle.css')}}">
<div class="container" style="margin-top:20px">
    <div class="nav nav-tabs">
        <li>
            <a href="device_log?server_name={{server_name}}&serial_no={{serial_no}}&host_url={{host_url}}">log</a>
        </li>
        <li class="active">
            <a href="device_api?server_name={{server_name}}&serial_no={{serial_no}}&host_url={{host_url}}">api</a>
        </li>
    </div>
    <h3>Device SerialNo: {{serial_no}}</h3>
    <h4>Device Config update</h4>
    <div class="alert alert-info alert-warning" role="alert" style="margin-top:20px">
        <h4>Request:</h4>
        <hr />
        <form action="{{ url_for('device_config_update') }}" id="device_config" method="post">
            <p style="display:none">
                {{ form_device_restart.host_url(value=host_url) }}
            </p>
            <table>
                <thead>
                    <tr class="text-center">
                        <th>KEY</th>
                        <th>VALUE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="display:none">
                        <td>serial number</td>
                        <td> {{ form_device_config.serial_number(value=serial_no) }} </td>
                    </tr>
                    <tr>
                        <td>phone number</td>
                        <td>{{ form_device_config.phone_number }}</td>
                    <tr>
                </tbody>
            </table>
            {{ form_device_config.submit(class="btn btn-primary", style="margin-top:20px") }}
        </form>
    </div>
    {% if update_resp != '' %}
    <div class="alert alert-info alert-dismissible" role="alert" style="margin-top:20px">
        <h4>Respones:</h4>
        <hr />
        <p>
            {{update_resp}}
        </p>
    </div>
    {% endif %}
    <h4>Device Restart</h4>
    <div class="alert alert-info alert-warning" role="alert" style="margin-top:20px">
        <h4>Request:</h4>
        <hr />
        <form action="{{ url_for('device_restart') }}" id="device_restart" method="post">
            <p style="display:none">
                {{ form_device_restart.host_url(value=host_url) }}
            </p>
            <table>
                <thead>
                    <tr class="text-center">
                        <th>KEY</th>
                        <th>VALUE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="display:none">
                        <td>serial number</td>
                        <td> {{ form_device_restart.serial_number(value=serial_no) }} </td>
                    </tr>
                    <tr>
                        <td>redo</td>
                        <td>{{ form_device_restart.redo_job }}</td>
                    <tr>
                </tbody>
            </table>
            {{ form_device_restart.restart_submit(class="btn btn-primary", style="margin-top:20px") }}
        </form>
    </div>
    {% if restart_resp != '' %}
    <div class="alert alert-info alert-dismissible" role="alert" style="margin-top:20px">
        <h4>Respones:</h4>
        <hr />
        <p>
            {{restart_resp}}
        </p>
    </div>
    {% endif %}
</div>
{% endblock content%}