{%- extends "bootstrap/base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block head %}
    {{super()}}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Add icon library -->
    <link
        rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    {{nav.my_navbar.render()}}
{% endblock %}

{% block content %}

</div>
    {% for host in host_info %}
    <div class="container">
        <div class="card" style="margin:10px">
            <div class="card-header" id="headingOne{{host['hostName']}}">
                <button
                    class="btn btn-link"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne{{host['hostName']}}"
                    aria-expanded="true"
                    aria-controls="collapseOne{{host['hostName']}}">
                    <p style="font-size:20px">
                        {{host['hostName']}}
                    <p>
                </button>
                <button 
                    class="btn btn-primary"
                    type="button"
                    onclick="window.location.href='{{url_for('server_log', server_name=host['hostName'])}}';">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
            <div
                id="collapseOne{{host['hostName']}}"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordionExample{{host['hostName']}}">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr >
                                <th>device_serial_no</th>
                                <th>device_status</th>
                                <th>device_detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for phone in host['hostData'] %}
                                <tr>
                                    <td style="vertical-align:middle">{{phone['serialNo']}}</td>
                                    {% if phone['status'] == 1 %}
                                    <td style="vertical-align:middle">
                                        <i class="work fas fa-lightbulb" style="color:green"></i>
                                    </td>
                                    {% else %}
                                    <td style="vertical-align:middle">
                                        <i class="nonwork fas fa-lightbulb" style="color:#666"></i>
                                    </td>
                                    {% endif %}
                                    <td>
                                        <form action="{{ url_for('device_log') }}" id="device_log" method="get">
                                            <input style="display:none" type="text" name="server_name" value="{{ host['hostName'] }}">
                                            <input style="display:none" type="text" name="host_url" value="{{ host['hostUrl'] }}">
                                            <input style="display:none" type="text" name="serial_no" value="{{ phone['serialNo'] }}">
                                            <button 
                                                class="btn btn-primary"
                                                aria-hidden="true"
                                                type="submit">
                                                detail
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%- endblock %}